<html>
  <body>
  {% include 'main.html' %}

  {% block content %}
  <h1 style="text-align:center;">Action Movies</h1>
  <br>
  <br>
  <div style="text-align:center;color:black;">
  <h1>
  <a href="/spiderman">
    <img src="http://www.picz.ge/img/s3/1208/22/e/ecbb2594e44a.jpg"
    style="float:left;width:300px;height:300px;">
  </a>
  Spiderman (2002)</h1>
  <br>
  <p style="text-align:left;font-size:14pt;">When biten by a genetically
  modified spider, a nerdy, shy, and awkward high school student gains
  spider-like abilities that he eventually must use to fight evil as a
  superhero after tragedy befalls his family.</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div style="text-align:center;color:black;">
  <h1>
  <a href="/bright">
    <img src="http://i.imgur.com/A1HnmFK.jpg"
    style="float:left;width:300px;height:300px;">
  </a>
  Bright</h1>
  <br>
  <p style="text-align:left;font-size:14pt;">Set in a world where fantasy
  creatures live side by side with humans. A human cop is forced to work with
  an Orc to find a weapon everyone is prepared to kill for.</p>
  </div>
  
  {% endblock %}
  </body>
</html>
