<html>
  <body>
  {% include 'main.html' %}

  {%block content %}
  <h1 style="text-align:center;color:black;">Horror Movies </h1>
  <br>
  <br>
  <div style="text-align:center;color:black;">
  <h1>
  <a href="/shining">
    <img
    src="http://i.pinimg.com/originals/f2/41/9b/f2419bf6591b9d1b685ef6301a865bc9.jpg"
    style="float:left;width:300px;height:300px;">    
  </a>
    The Shining
  </h1>
  <br>
  <p style="text-align:left;font-size:14pt;">A family head to an isolated hotel for the winter where an evil spiritual
  presence influences the father into violence while his psychic son sees
  horific forebodings from the past and of the future.</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div style="text-align:center;color:black;">
  <h1>
  <a href="/ring">
    <img
    src="http://upload.wikimedia.org/wikipedia/en/thumb/3/37/Theringpostere.jpg/220px-Theringpostere.jpg"
    style="float:left;width:300px;height:300px;">
  </a>
    The Ring
  </h1>
  <br>
  <p style="text-align:left;font-size:14pt;"> A journalist must investigate a mysterious videotape which seems to
  cause the death of anyone in a week of viewing it. </p>
  </div>
  {% endblock %}
  </body>
</html>
