<html>
  <body>
  {% include 'main.html' %}

  {% block content %}
  <br>
  <br>
  <div style="text-align:left;">
  <h1 style="text-align:center;">
  <img src="http://i.imgur.com/tcIBKAo.jpg"
  style="float:left;width:300px;height:300px;">
  The Matrix
  </h1>
  <br>
  <p><strong>Summary:</strong></p><p>A computer hacker learns from a mysterious
  rebels about the true nature of his reality and his role in the war against
  its controllers</p>
  <p><strong>Duration:</strong></p><p>2 hours 16 minutes</p>
  <p><strong>Director/Writer:</strong></p><p>Lana Wachowski, Lilly Wachowski</p>
  </div>
  <br>
  <a href="/scifi">
  <p>Click here to go back to Sci-Fi</p>
  </a>

  {% endblock %}
  </body>
</html>
