<html>
  <body>
  {% include 'main.html' %}

  {% block content %}
  <br>
  <br>
  <div style="text-align:left;">
  <h1 style="text-align:center;">
  <img
  src="http://i.pinimg.com/originals/f2/41/9b/f2419bf6591b9d1b685ef6301a865bc9.jpg"
  style="float:left;width:300px;height:300px;">
  The Shining
  </h1>
  <br>
  <p><strong>Summary:</strong></p><p> A family head to an isolated Hotel for the winter where an evil
  spiritual presence influences the father into violence while his psychic son
  sees horrific forebodings from the past and of the future.</p>
  <p><strong>Duration:</strong></p><p> 2 hours 26 minutes </p>
  <p><strong>Director/Writer:</strong></p><p> Stephen King (novel), Stanley
  Kubrick (screenplay).</p>
  </div>
  <br>
  <a href="/horror">
  <p>Click here to go back to horror</p>
  </a>

  {% endblock %}
  </body>
</html>
