<html>
  <body>
  {% include 'main.html' %}

  {% block content %}
  <br>
  <br>
  <div style="text-align:left;">
  <h1 style="text-align:center;">
  <img src="http://www.picz.ge/img/s3/1208/22/e/ecbb2594e44a.jpg"
  style="float:left;width:300px;height:300px;">
  Spiderman (2002)
  </h1>
  <br>
  <p><strong>Summary:</strong></p><p>When bitten by a genetically modified
  spider, a nerdy, shy, and awkward high school student gains spider-like
  abilities that he eventually must use to fight evil as a superhero after
  tragedy befalls his family.</p>
  <p><strong>Duration:</strong></p><p>2 hours 1 minute</p>
  <p><strong>Director/Writer:</strong></p><p>Stan Lee (Marvel comic book),
  Steve Ditko (Marvel Comic bok), David Koepp (screenplay.</p>
  </div>
  <br>
  <a href="/action">
  <p>Click here to go back to action</p>
  </a>

  {% endblock %}
  <body>
</html>
