<html>
  <body>
  {% include 'main.html' %}

  {% block content %}
  <br>
  <br>
  <div style="text-align:left;">
  <h1 style="text-align:center;">
  <img src="http://i.ebayimg.com/images/g/o7YAAOSwCGVX8n1i/s-l300.jpg"
  style="float:left;width:300px;height:300px;">
  Toy Story</h1>
  <br>
  <p><strong>Summary:</strong></p><p>A cowboy doll is profoundly threatened and
  jealous when a new spaceman figure supplants him as top toy in a boy's room.</p>
  <p><strong>Duration:</strong></p><p>1 hour 21 minutes.</p>
  <p><strong>Director/Writer:</strong></p><p>John Lasseter, Pete Docter.</p>
  </div>
  <br>
  <a href="/comedy">
  <p>Click Here to go back to Comedy</p>
  </a>

  {% endblock %}
  </body>
</html>
